{% extends 'base.html' %}

{% block content %}
<nav>
    <div class="nav-container">
        <a href="/home">Home</a>
        <a href="/about1">About</a>
    
        
        <a href="/register">Register</a>
        <a href="/login">Login</a>
      
      {% comment %} <a href="{% url 'logout' %}">Logout</a> {% endcomment %}
      {% comment %} <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button class=logout-button  type="submit">Logout</button>
    </form> {% endcomment %}
    </div>
  </nav>
<div class="about-container">

<h1>About This Blog</h1>
<p>Welcome to our blog platform where you can share your thoughts and ideas.</p>
</div>
{% endblock %}